*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.custom-toggler {
    display: flex;
    border-color: aliceblue;
    background-color: rgb(255, 255, 255);
    width: 2.5rem;
    height: 1.5rem;
   align-items: center;
   justify-content: center;
   margin-right: 1rem;
   border-radius:5px 
}

.texto-titulo-nav {
    font-size: 1.5rem;
    padding-left: 0.7rem;
}

.nav-item {
    padding: 0 1rem 0 1rem;
}
body {
    background-image: url("../imgs//fondo2.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

@media only screen and (min-width: 767px) {
    .texto-titulo {
        width: 500px;
        font-size: 90px ;
        color: rgb(248, 244, 244);
        font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        line-height: 4.4rem;}
 
    
    
 .texto-subitutlo {
    width: 500px;
    font-size: 50px ;
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;

 }       
}



.texto-titulo {

    font-size: 70px ;
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    line-height: 4.4rem;}

.texto-subitutlo {

    font-size: 30px ;
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;

 }       


.texto-web-boton {
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
}
.contenedor-portada-index {
    padding: 5rem 0 5rem 0;
    height: 25rem;
    background-image: url("../imgs//portada_indezx.png");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.contenedor-boton-portada {
    width: 10rem;
    justify-content: center;
}

.contenedor-final-index {
    margin-bottom: 8rem;
}
@media only screen and (min-width: 767px) {

.conteiner-burger-index {
    margin-top: 2rem;

}

}

/* FOOTER */
.texto-web-footer {
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    line-height: 1.8rem;
    text-align: right;

}

.texto-web-contacto{
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 5.5rem;
    line-height: 4.1rem;
    text-align: center;
}

.texto-web-contacto-lista {

    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;

}




/* CERVEZA */

.descripcion_cerveza {
    width: 250px;
    font-size: 20px;
    min-height: 30%;
    color: white;
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    text-align: center;

}

.IBU {
    margin-top: 10px;
    list-style:none ;
    color: white;
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    text-align: center;
}

.logocerveza {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_marca_cerveza {
    display: flex;
    height: 100px;
    margin:  -25px 0 -15px 0 ;
    text-align: center;

    
}

.Cerveza_Name {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
  }



.nuestrasburgers {
    text-align: center;
    margin: 50px auto 80px auto;

}
.NuestrosSanguches {
    text-align: center;
    margin: 10px auto 50px auto;
}

.nuestras {
    color: white;
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    line-height: 2rem;

}
.burgers {
    color: white;
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    line-height: 2rem;

}

.texto-web {
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.fondo_auto {
    background-image: url("../imgs/fondo_tarjeta_autoretato.jpg");
    background-repeat: no-repeat; 
    background-size: cover; }

.fondo_vangogh {
    background-image: url("../imgs/fondo_tarjeta_vangogh.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}


.fondo_girasoles{
    background-image: url("../imgs/fondo_tarjeta_girasoles.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fondo_raices {
    background-image: url("../imgs/fondo_tarjeta_raices.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fondo_terraza {
    background-image: url("../imgs/fondo_tarjeta_terraza.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fondo_cuervos {
    background-image: url("../imgs/fondo_tarjeta_cuervos.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fondo_viñedo {
    background-image: url("../imgs/fondo_tarjeta_viñedo.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fondo_vincent{
    background-image: url("../imgs/fondo_tarjeta_vincent.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

 